*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica,sans-serif;
    background-color:rgb(0, 0, 0); 
    scrollbar-width: none;
}

@media (max-width: 700px){
    *{
        overflow-x: hidden;
    }
}

a{
    background-color: transparent;
}

#navbar_container {
    position: absolute;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    max-width: 20px;
    height: 155px;
    background-color: rgb(3, 3, 33);
    margin-left: 95%;
    margin-top: 0px;
}

#navbar_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar_item{
    margin-bottom: 15px;
}

#navbar_links {
    color: white;
    text-decoration: none;
    margin-left: -5px;
    margin-bottom: 50px;
    background-color: transparent;
}

/*Home Page*/

#home_page {
    background-image: url(First_Background.jpg);
    background-size: cover;
    background-position: center 100%;
    background-repeat: no-repeat;
    height: 100vh;
    box-shadow: inset 0vh -15vh 50vh -5vh black;
}

#name {
    text-align: center;
    background-color: transparent;
    padding-top: 35vh;
    color: #3c57ed;
    font-size: 15vh;
    font-family: 'Times New Roman', Times, serif;
}

#job_title {
    text-align: center;
    background-color: transparent;
    color: #3c57ed;
    font-size: 4vh;
    font-family: 'Times New Roman', Times, serif;  
}

/*Home Page for Phone*/
@media(max-width: 700px){
    #name {
        font-size: 10vh;
    }

    #job_title {
        font-size: 3vh;  
    }
}

/*About Container*/
#about_container {
    padding-bottom: 10vh;
}

#container_title {
    color: white;
    background-color: transparent;
    margin-left: 15vh;
}

#main_container {
    position: relative;
    background: rgb(17, 17, 17);
    margin: 10vh 20vh 0 20vh;
    padding: 5vh;
    border-radius: 10px;
}

#container_desc {
    color: white;
    background: transparent;   
}

/*About Container for phone*/
@media(max-width: 700px){
    #about_container {
        padding-bottom: 0vh;
    }

    #container_title {
        color: white;
        background-color: transparent;
        margin-left: 5vh;
    }

    #main_container {
        position: relative;
        background: rgb(17, 17, 17);
        margin: 5vh auto;
        padding: 5vh;
        width: 90%;
        border-radius: 10px;
    }

    #container_desc {
        color: white;
        background: transparent;
    }
}

/*Projects Container*/
#projects_container {
    background-image: url(Background-My.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0vh 15vh 50vh -5vh black;
}

#project_title {
    color: white;
    background-color: transparent;
    margin: 10vh 0 0 15vh;
}

#project_cards {
    background-color: transparent;
    padding: 10vh 5vh 50vh 20vh;
    display: flex;
}

#project_inner_title {
    color: white;
    background-color: transparent;
    padding: 2vh 0 0 2vh;
}

#project_desc {
    color: white;
    background-color: transparent;
    margin: 2vh 2vh 2vh 2vh;
}

#project_writing {
    background-color: transparent;
    padding-top: 5vh;
    padding-right: 5vh;
}

#project1 {
    position: relative;
    background: rgb(17, 17, 17);
    padding: 0vh 0vh 1vh 0vh;
    border-radius: 10px;
    max-width: 30vh;
    margin-right: 20vh;
}

#project2 {
    position: relative;
    background: rgb(17, 17, 17);
    padding: 0vh 0vh 1vh 0vh;
    border-radius: 10px;
    max-width: 30vh;
    margin-right: 20vh;
}

#project3 {
    position: relative;
    background: rgb(17, 17, 17);
    padding: 0vh 0vh 1vh 0vh;
    border-radius: 10px;
    max-width: 30vh;
}

#project1_img {
    background-color: aliceblue;
    padding: 3vh 8vh 3vh 8vh;
    width: 30vh;
    height: 15vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#project_skills {
    background-color: transparent;
    display:inline-flex;
}

#skill_container {
    background-color: transparent;
    border: 3px solid white;
    padding: 1vh;
    margin: 0 0 0 2vh;
    border-radius: 50px;
}

#skill_desc {
    background-color: transparent;
    font-size: 1.5vh;
    color: white;
}

/*Project Container for phone*/
@media (max-width: 700px){
    #projects_container {
        padding-bottom: 40vh;
    }

    #project_title {
        color: white;
        background-color: transparent;
        margin-left: 5vh;
    }

    #project_cards {
        display: contents;
        align-items: flex-start;
    }

    #project1 {
        position: relative;
        background: rgb(17, 17, 17);
        padding: 0vh 0vh 1vh 0vh;
        margin: 5vh auto;
        border-radius: 10px;
    }
    
    #project2 {
        position: relative;
        background: rgb(17, 17, 17);
        padding: 0vh 0vh 1vh 0vh;
        margin: 5vh auto;
        border-radius: 10px;
        max-width: 30vh;
    }
    
    #project3 {
        position: relative;
        background: rgb(17, 17, 17);
        padding: 0vh 0vh 1vh 0vh;
        margin: 5vh auto;
        border-radius: 10px;
        max-width: 30vh;
    }
}

/*Contact Container*/
#contact {
    padding: 5vh 5vh 2vh 10vh;
    margin-top: -15vh;
    max-width: 100%;
    background: transparent;
}

#contact_title {
    color: white;
    background-color: transparent;
    float: left;
    padding-right: 45vh;
}

#not_title {
    background-color: transparent;
}

#socials {
    background-color: transparent;
    color: white;
    max-width: 65vh;
    float: left;
    padding-right: 45vh;
}

#contact_inner_title {
    background-color: transparent;
    font-weight: bold;
    margin-bottom: 1vh;
}

#logo_container {
    display: flex;
    background-color: transparent;
    margin-bottom: 2vh;
}

#logos{
    background-color: transparent;
    height: 4vh;
    width: 4.5vh;
    margin-right: 1vh;
}

#email {
    background-color: transparent;
    color: white;
    float: left;
    max-width: 60vh;
}

#email_desc {
    background-color: transparent;

}

/*Contact Container for phones*/
@media (max-width: 700px) {
    #contact {
        margin-top: -20vh;
        padding: 10vh 5vh 2vh 5vh;
        display: flex;
    }

    #contact_title {
        color: white;
        background-color: transparent;
        margin-top: -3vh;
        padding-right: 10vh;
        float: left;
    }

    #not_title {
        margin-top: -10vh;
        background-color: transparent;
    }

    #email {
        width: 100%; /* Full width */
    }

    #socials {
        align-items: flex-start; /* Left-align on mobile */
    }

    #logo_container {
        justify-content: flex-start; /* Align icons left */
    }
}
